@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300&display=swap');

* {
    font-family: 'K2D', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    background-color: darkslategrey;
    background-image: url(photos/GermanFlagBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
header {
    font-size: large;
    color: whitesmoke;
    height: 50px;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.630);
}
nav {
    position: relative;
    max-width: 100%;
    height: 40px;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.630);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: x-large;
    color: whitesmoke;
    padding: 0 25px;
    font-weight: 900;
    z-index: 1;
    display: inline-block;
    transition: 0.2s all;
}

nav a:hover {
    opacity: 0.7;
    background: #1abc;
    border-radius: 8px;
}

h1 {
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 1px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}